.supporters {
	margin-top: 55px;
	@media (max-width: 770px) {
		& {
			margin-top: 20px;
		}
	}
	&__title {
		font-size: 16px;
		line-height: 1.6;
		font-weight: 500;
		text-transform: uppercase;
		color: #1d2130;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	&__item {
		margin: 0 auto;
		padding: 15px;
	}
	&__logo {
		max-width: 140px;
		height: 30px;
	}
}
.container {
}
